
@{
    ViewData["Title"] = "SingIn";
}

@model FreeCourse.Web.Models.SingInInput


<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Üye Girişi
                </h5>
                <form asp-controller="Auth" asp-action="SingIn" method="post">
                    <div class="mb-3">
                        <label asp-for="Email" for="exampleInputEmail1" class="form-label"></label>
                        <input type="email" asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                       <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" asp-for="IsRemember" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1" asp-for="IsRemember"></label>
                    </div>
                    <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </form>
            </div>
        </div>
    </div>
</div>




